<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>~/.m2/repository</localRepository>
    <servers>
        <server>
            <id>ossrh</id>
            <username>u+5UtJig</username>
            <password>hoc1RlvWI0gye2QbNWUXlpJaFpyY4X14vMQRCmHpSI7w</password>
        </server>
        <server>
            <id>central</id>
            <username>u+5UtJig</username>
            <password>hoc1RlvWI0gye2QbNWUXlpJaFpyY4X14vMQRCmHpSI7w</password>
        </server>
        <server>
            <id>gpg.passphrase</id>
            <passphrase>$hriM@th@$81</passphrase>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>release-sign-artifacts</id>
            <activation>
                <activeByDefault>true</activeByDefault>
                <property>
                    <name>performRelease</name>
                    <value>true</value>
                </property>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.keyname>0xD36A64B6</gpg.keyname>
                <gpg.passphrase>$hriM@th@$81</gpg.passphrase>
                <gpg.defaultKeyring>false</gpg.defaultKeyring>
                <gpg.useagent>true</gpg.useagent>
                <gpg.lockMode>never</gpg.lockMode>
                <gpg.homedir>/users/venkatm/.gnupg</gpg.homedir>
                <gpg.publicKeyring>/users/venkatm/.gnupg/pubring.gpg</gpg.publicKeyring>
                <gpg.secretKeyring>/users/venkatm/.gnupg/secring.gpg</gpg.secretKeyring>
            </properties>
        </profile>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>$hriM@th@$81</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>
